<h1>feeder</h1>


<% if (result.length == 0) { %>
  <h4>
    0 feeder
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>feederID</th>
			<th>createdBy</th>
			<th>feederDescription</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.feederID %>
					</td>
					<td>
						<%= item.createdBy %>
					</td>
					<td>
						<%= item.feederDescription %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/feeder/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/feeder/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/feeder/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/feeder/create">New</a>