<div class="">
  <h1>New bird</h1>

  <div class="body">
    <form class="" action="/bird/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">birdID</label>
          <input type="number" name="birdID" value="<%= element.birdID %>" required="true">
        </div>
        <div class="">
          <label for="">createdBy</label>
          <input type="number" name="createdBy" value="<%= element.createdBy %>" required="false">
        </div>
        <div class="">
          <label for="">createdOn</label>
          <input type="text" name="createdOn" value="<%= element.createdOn %>" required="true">
        </div>
        <div class="">
          <label for="">birdName</label>
          <input type="text" name="birdName" value="<%= element.birdName %>" required="false">
        </div>
        <div class="">
          <label for="">studID</label>
          <input type="text" name="studID" value="<%= element.studID %>" required="false">
        </div>
        <div class="">
          <label for="">newStudID</label>
          <input type="text" name="newStudID" value="<%= element.newStudID %>" required="false">
        </div>
        <div class="">
          <label for="">leftRingID</label>
          <input type="text" name="leftRingID" value="<%= element.leftRingID %>" required="false">
        </div>
        <div class="">
          <label for="">rightRingID</label>
          <input type="text" name="rightRingID" value="<%= element.rightRingID %>" required="false">
        </div>
        <div class="">
          <label for="">sex</label>
          <input type="text" name="sex" value="<%= element.sex %>" required="false">
        </div>
        <div class="">
          <label for="">layDate</label>
          <input type="text" name="layDate" value="<%= element.layDate %>" required="false">
        </div>
        <div class="">
          <label for="">hatchedWhere</label>
          <input type="text" name="hatchedWhere" value="<%= element.hatchedWhere %>" required="false">
        </div>
        <div class="">
          <label for="">hatchDate</label>
          <input type="text" name="hatchDate" value="<%= element.hatchDate %>" required="false">
        </div>
        <div class="">
          <label for="">incubationDays</label>
          <input type="number" name="incubationDays" value="<%= element.incubationDays %>" required="false">
        </div>
        <div class="">
          <label for="">birdFledged</label>
          <input type="number" name="birdFledged" value="<%= element.birdFledged %>" required="false">
        </div>
        <div class="">
          <label for="">fledgedWhere</label>
          <input type="text" name="fledgedWhere" value="<%= element.fledgedWhere %>" required="false">
        </div>
        <div class="">
          <label for="">releasedWhere</label>
          <input type="text" name="releasedWhere" value="<%= element.releasedWhere %>" required="false">
        </div>
        <div class="">
          <label for="">releasedWhen</label>
          <input type="text" name="releasedWhen" value="<%= element.releasedWhen %>" required="false">
        </div>
        <div class="">
          <label for="">groupName</label>
          <input type="text" name="groupName" value="<%= element.groupName %>" required="false">
        </div>
        <div class="">
          <label for="">currentNestSite</label>
          <input type="text" name="currentNestSite" value="<%= element.currentNestSite %>" required="false">
        </div>
        <div class="">
          <label for="">motherName</label>
          <input type="text" name="motherName" value="<%= element.motherName %>" required="false">
        </div>
        <div class="">
          <label for="">motherID</label>
          <input type="number" name="motherID" value="<%= element.motherID %>" required="false">
        </div>
        <div class="">
          <label for="">fatherName</label>
          <input type="text" name="fatherName" value="<%= element.fatherName %>" required="false">
        </div>
        <div class="">
          <label for="">fatherID</label>
          <input type="number" name="fatherID" value="<%= element.fatherID %>" required="false">
        </div>
        <div class="">
          <label for="">secondFatherName</label>
          <input type="text" name="secondFatherName" value="<%= element.secondFatherName %>" required="false">
        </div>
        <div class="">
          <label for="">secondFatherID</label>
          <input type="number" name="secondFatherID" value="<%= element.secondFatherID %>" required="false">
        </div>
        <div class="">
          <label for="">researcherNotes</label>
          <input type="text" name="researcherNotes" value="<%= element.researcherNotes %>" required="false">
        </div>
        <div class="">
          <label for="">dateOut</label>
          <input type="text" name="dateOut" value="<%= element.dateOut %>" required="false">
        </div>
      <button type="submit">Update bird</button>
    </form>
    <br />
    <a href="/bird">Index</a>
  </div>
</div>