<h1>Show bird</h1>

	<p>
		<strong>birdID:</strong>
		<%= element.birdID %>
	</p>
	<p>
		<strong>createdBy:</strong>
		<%= element.createdBy %>
	</p>
	<p>
		<strong>createdOn:</strong>
		<%= element.createdOn %>
	</p>
	<p>
		<strong>birdName:</strong>
		<%= element.birdName %>
	</p>
	<p>
		<strong>studID:</strong>
		<%= element.studID %>
	</p>
	<p>
		<strong>newStudID:</strong>
		<%= element.newStudID %>
	</p>
	<p>
		<strong>leftRingID:</strong>
		<%= element.leftRingID %>
	</p>
	<p>
		<strong>rightRingID:</strong>
		<%= element.rightRingID %>
	</p>
	<p>
		<strong>sex:</strong>
		<%= element.sex %>
	</p>
	<p>
		<strong>layDate:</strong>
		<%= element.layDate %>
	</p>
	<p>
		<strong>hatchedWhere:</strong>
		<%= element.hatchedWhere %>
	</p>
	<p>
		<strong>hatchDate:</strong>
		<%= element.hatchDate %>
	</p>
	<p>
		<strong>incubationDays:</strong>
		<%= element.incubationDays %>
	</p>
	<p>
		<strong>birdFledged:</strong>
		<%= element.birdFledged %>
	</p>
	<p>
		<strong>fledgedWhere:</strong>
		<%= element.fledgedWhere %>
	</p>
	<p>
		<strong>releasedWhere:</strong>
		<%= element.releasedWhere %>
	</p>
	<p>
		<strong>releasedWhen:</strong>
		<%= element.releasedWhen %>
	</p>
	<p>
		<strong>groupName:</strong>
		<%= element.groupName %>
	</p>
	<p>
		<strong>currentNestSite:</strong>
		<%= element.currentNestSite %>
	</p>
	<p>
		<strong>motherName:</strong>
		<%= element.motherName %>
	</p>
	<p>
		<strong>motherID:</strong>
		<%= element.motherID %>
	</p>
	<p>
		<strong>fatherName:</strong>
		<%= element.fatherName %>
	</p>
	<p>
		<strong>fatherID:</strong>
		<%= element.fatherID %>
	</p>
	<p>
		<strong>secondFatherName:</strong>
		<%= element.secondFatherName %>
	</p>
	<p>
		<strong>secondFatherID:</strong>
		<%= element.secondFatherID %>
	</p>
	<p>
		<strong>researcherNotes:</strong>
		<%= element.researcherNotes %>
	</p>
	<p>
		<strong>dateOut:</strong>
		<%= element.dateOut %>
	</p>

<br>
<a href="/bird/edit/<%= element.id %>">Edit</a>
<a href="/bird/create">New</a>
<a href="/bird">Back</a>
