<div class="">
  <h1>New changelog</h1>

  <div class="body">
    <form class="" action="/changelog/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">logID</label>
          <input type="number" name="logID" value="<%= element.logID %>" required="true">
        </div>
        <div class="">
          <label for="">userID</label>
          <input type="number" name="userID" value="<%= element.userID %>" required="false">
        </div>
        <div class="">
          <label for="">birdID</label>
          <input type="number" name="birdID" value="<%= element.birdID %>" required="false">
        </div>
        <div class="">
          <label for="">changes</label>
          <input type="text" name="changes" value="<%= element.changes %>" required="true">
        </div>
        <div class="">
          <label for="">changedOn</label>
          <input type="text" name="changedOn" value="<%= element.changedOn %>" required="true">
        </div>
      <button type="submit">Update changelog</button>
    </form>
    <br />
    <a href="/changelog">Index</a>
  </div>
</div>