<h1>changelog</h1>


<% if (result.length == 0) { %>
  <h4>
    0 changelog
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>logID</th>
			<th>userID</th>
			<th>birdID</th>
			<th>changes</th>
			<th>changedOn</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.logID %>
					</td>
					<td>
						<%= item.userID %>
					</td>
					<td>
						<%= item.birdID %>
					</td>
					<td>
						<%= item.changes %>
					</td>
					<td>
						<%= item.changedOn %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/changelog/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/changelog/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/changelog/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/changelog/create">New</a>