<h1>Show changelog</h1>

	<p>
		<strong>logID:</strong>
		<%= element.logID %>
	</p>
	<p>
		<strong>userID:</strong>
		<%= element.userID %>
	</p>
	<p>
		<strong>birdID:</strong>
		<%= element.birdID %>
	</p>
	<p>
		<strong>changes:</strong>
		<%= element.changes %>
	</p>
	<p>
		<strong>changedOn:</strong>
		<%= element.changedOn %>
	</p>

<br>
<a href="/changelog/edit/<%= element.id %>">Edit</a>
<a href="/changelog/create">New</a>
<a href="/changelog">Back</a>
