<div class="">
  <h1>New user</h1>

  <div class="body">
    <form class="" action="/user/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">userID</label>
          <input type="number" name="userID" value="<%= element.userID %>" required="true">
        </div>
        <div class="">
          <label for="">username</label>
          <input type="text" name="username" value="<%= element.username %>" required="true">
        </div>
        <div class="">
          <label for="">fullname</label>
          <input type="text" name="fullname" value="<%= element.fullname %>" required="true">
        </div>
        <div class="">
          <label for="">passwordHash</label>
          <input type="text" name="passwordHash" value="<%= element.passwordHash %>" required="true">
        </div>
        <div class="">
          <label for="">hasRead</label>
          <input type="number" name="hasRead" value="<%= element.hasRead %>" required="false">
        </div>
        <div class="">
          <label for="">hasCreateEdit</label>
          <input type="number" name="hasCreateEdit" value="<%= element.hasCreateEdit %>" required="false">
        </div>
        <div class="">
          <label for="">hasEditFull</label>
          <input type="number" name="hasEditFull" value="<%= element.hasEditFull %>" required="false">
        </div>
        <div class="">
          <label for="">hasExportSimple</label>
          <input type="number" name="hasExportSimple" value="<%= element.hasExportSimple %>" required="false">
        </div>
        <div class="">
          <label for="">hasExportFull</label>
          <input type="number" name="hasExportFull" value="<%= element.hasExportFull %>" required="false">
        </div>
        <div class="">
          <label for="">hasAdmin</label>
          <input type="number" name="hasAdmin" value="<%= element.hasAdmin %>" required="false">
        </div>
      <button type="submit">Update user</button>
    </form>
    <br />
    <a href="/user">Index</a>
  </div>
</div>