<h1>user</h1>


<% if (result.length == 0) { %>
  <h4>
    0 user
  </h4>
<% } else { %>
<table>
	<thead>
    <th>#</th>
		<th>id</th>
			<th>userID</th>
			<th>username</th>
			<th>fullname</th>
			<th>passwordHash</th>
			<th>hasRead</th>
			<th>hasCreateEdit</th>
			<th>hasEditFull</th>
			<th>hasExportSimple</th>
			<th>hasExportFull</th>
			<th>hasAdmin</th>

		<th>created at</th>
		<th>updated at</th>
		<th colspan="3"></th>
	</thead>

	<tbody>
		<% result.forEach((item, i) => { %>
			<tr>
				<td>
					<%= (i + 1) %>
				</td>
				<td>
					<%= item.id %>
				</td>
					<td>
						<%= item.userID %>
					</td>
					<td>
						<%= item.username %>
					</td>
					<td>
						<%= item.fullname %>
					</td>
					<td>
						<%= item.passwordHash %>
					</td>
					<td>
						<%= item.hasRead %>
					</td>
					<td>
						<%= item.hasCreateEdit %>
					</td>
					<td>
						<%= item.hasEditFull %>
					</td>
					<td>
						<%= item.hasExportSimple %>
					</td>
					<td>
						<%= item.hasExportFull %>
					</td>
					<td>
						<%= item.hasAdmin %>
					</td>
				<td>
					<%= item.createdAt %>
				</td>
				<td>
					<%= item.updatedAt %>
				</td>
				<td>
					<a href="/user/show/<%= item.id %>">Show</a>
				</td>
				<td>
					<a href="/user/delete/<%= item.id %>">Delete</a>
				</td>
        <td>
					<a href="/user/edit/<%= item.id %>">Edit</a>
				</td>
			</tr>
			<% }) %>
	</tbody>
</table>

<% } %>

<br>
<a href="/user/create">New</a>