<h1>Show user</h1>

	<p>
		<strong>userID:</strong>
		<%= element.userID %>
	</p>
	<p>
		<strong>username:</strong>
		<%= element.username %>
	</p>
	<p>
		<strong>fullname:</strong>
		<%= element.fullname %>
	</p>
	<p>
		<strong>passwordHash:</strong>
		<%= element.passwordHash %>
	</p>
	<p>
		<strong>hasRead:</strong>
		<%= element.hasRead %>
	</p>
	<p>
		<strong>hasCreateEdit:</strong>
		<%= element.hasCreateEdit %>
	</p>
	<p>
		<strong>hasEditFull:</strong>
		<%= element.hasEditFull %>
	</p>
	<p>
		<strong>hasExportSimple:</strong>
		<%= element.hasExportSimple %>
	</p>
	<p>
		<strong>hasExportFull:</strong>
		<%= element.hasExportFull %>
	</p>
	<p>
		<strong>hasAdmin:</strong>
		<%= element.hasAdmin %>
	</p>

<br>
<a href="/user/edit/<%= element.id %>">Edit</a>
<a href="/user/create">New</a>
<a href="/user">Back</a>
