<div class="">
  <h1>New visit</h1>

  <div class="body">
    <form class="" action="/visit/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">visitID</label>
          <input type="number" name="visitID" value="<%= element.visitID %>" required="true">
        </div>
        <div class="">
          <label for="">feederID</label>
          <input type="number" name="feederID" value="<%= element.feederID %>" required="false">
        </div>
        <div class="">
          <label for="">birdID</label>
          <input type="number" name="birdID" value="<%= element.birdID %>" required="false">
        </div>
        <div class="">
          <label for="">ncfRFIDInternal</label>
          <input type="text" name="ncfRFIDInternal" value="<%= element.ncfRFIDInternal %>" required="false">
        </div>
      <button type="submit">Update visit</button>
    </form>
    <br />
    <a href="/visit">Index</a>
  </div>
</div>