<h1>Show visit</h1>

	<p>
		<strong>visitID:</strong>
		<%= element.visitID %>
	</p>
	<p>
		<strong>feederID:</strong>
		<%= element.feederID %>
	</p>
	<p>
		<strong>birdID:</strong>
		<%= element.birdID %>
	</p>
	<p>
		<strong>ncfRFIDInternal:</strong>
		<%= element.ncfRFIDInternal %>
	</p>

<br>
<a href="/visit/edit/<%= element.id %>">Edit</a>
<a href="/visit/create">New</a>
<a href="/visit">Back</a>
